@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* #region 全域設定 */
@font-face {
    font-family: "jf-openhuninn-2.0";
    src: local("jf-openhuninn-2.0"), url(../fonts/jf-openhuninn-2.0.ttf);
}

:root {
    /* 背景基礎色 */
    --base-backgroundColor: rgb(255, 247, 205);
    --main-yellow: rgb(255, 226, 74);
    --main-green: rgb(125, 229, 175);
    --main-pink: rgb(245, 105, 90);
    --black: rgb(0, 0, 0);
    --white: rgb(255, 253, 243);
}

body {
    background-color: var(--base-backgroundColor);
}

/* #endregion */

/* #region 重置所有樣式 */
/* 重置所有標籤的樣式 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 重置字體 */
body {
    font-family:
        /*西文*/
        -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial,
        /*中文*/
        "蘋方-繁", "PingFang TC", "黑體-繁", "Heiti TC", "微軟正黑體", "Microsoft JhengHei", "Noto Sans TC", sans-serif;
    font-size: 100%;
    line-height: 1.5;
}

/* 重置標題 */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

/* 重置列表 */
ul,
ol {
    list-style: none;
}

/* 重置圖片 */
img {
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
}

/* 重置連接 */
a {
    display: block;
    /* 將預設inline改為block */
    text-decoration: none;
    color: #444;
}

/* #endregion */

/* #region 導覽列 */
#navbar {
    width: 100%;
    height: 88px;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.logo {
    height: 100%;
}

.logo a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    gap: 15px;
}

.logo a figure {
    height: 100%;
}

.logo a img {
    object-fit: cover;
    height: 100%;
}

.logo a p {
    font-family: "Poppins";
    font-size: 0.9rem;
    font-weight: 500;
    letter-spacing: 0.1rem;
}

.navigation ul {
    display: flex;
    align-items: center;
    gap: 20px;
}

.navigation ul li {
    font-family: "jf-openhuninn-2.0";
    font-size: 1rem;
    letter-spacing: 0.1rem;
}

.navigation .menu a {
    line-height: 1;
    padding-bottom: 6px;
    border-bottom: solid 1px transparent;
}

.navigation .menu a:hover {
    border-bottom: solid 1px #333;
    transition: .35s ease-in-out;
}

/* #endregion */

/* #region 首頁-網頁特色 */
#introduce {
    width: 100%;
    height: 1050px;
    background-image: url(../images/index/map.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center 10px;
    font-family: "jf-openhuninn-2.0";
}

#introduce h2 {
    font-size: 1.2rem;
    line-height: 2rem;
}

.star {
    width: 4%;
}

.flower {
    width: 3%;
}

.corner {
    width: 4%;
}

.first-article,
.second-article,
.third-article {
    display: flex;
}

/* 第一個介紹 */
.first-article {
    margin-top: 4%;
    padding-top: 3%;
}

.first-article .content {
    background-color: var(--main-green);
    border-radius: 30px;
    width: 20%;
    padding: 1% 2%;
    margin-bottom: 5%;
}

.first-article .character {
    width: 15%;
    /* position: relative; */
    margin-top: -5%;
}

.first-article .star:first-child {
    margin: -3% 15% 0 28%;
}

.first-article .star:last-child {
    margin-top: -5%;
    margin-left: -3%;
}

.first-article .flower {
    z-index: 999;
    margin-top: -1%;
    margin-right: -1.5%;
}

.first-article .corner {
    margin-top: 2%;
    margin-right: -1.5%;
}

/* 第二個介紹 */
.second-article {
    margin-top: -7%;
}

.second-article .content {
    background-color: var(--main-pink);
    border-radius: 30px;
    width: 20%;
    padding: 1% 2%;
    margin-top: 5%;
    margin-left: 1%;
    color: var(--white);
}

.second-article .character {
    width: 10%;
    position: relative;
    margin: -7% 0 0 15%;
}

.second-article .flower {
    margin-top: 4%;
    margin-left: -2%;
}

.second-article .corner {
    margin-top: 5.5%;
    margin-right: -1%;
}

/* 第三個介紹 */
.third-article {
    margin-top: 2%;
}

.third-article .content {
    background-color: var(--main-yellow);
    border-radius: 30px;
    width: 20%;
    padding: 1% 2%;
    margin-bottom: 8%;
}

.third-article .character {
    width: 9%;
    position: relative;
    margin: -7% 0 0 2%;
}

.third-article .flower {
    z-index: 999;
    margin-top: 5%;
    margin-right: -1%;
    margin-left: 38%;
}

.third-article .corner {
    margin-top: 2%;
    margin-left: -0.1%;
}

/* 第三個介紹 */

/* #endregion */

/* #region 首頁-最新活動*/
#news {
    display: flex;
    width: 100%;
    background-image: url(../images/index/news-bg.png);
    background-repeat: no-repeat;
    background-size: contain;
    font-family: "jf-openhuninn-2.0";
    margin-top: -24%;
    padding: 15% 0;
}

.whatnews {
    width: 25%;
    margin-left: 5%;
}

.carousel {
    display: flex;
    align-items: end;
    margin-left: 3.8%;
    padding-top: 3%;
    padding-bottom: 4.5%;
    flex: 0.81;
}

.carousel a {
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: 100%;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(136, 136, 136, 0.2) 28%, rgba(96, 95, 95, 0.5) 60%, #383737 90%), url(../images/index/market.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    border: var(--black) 2px solid;
    color: var(--white);
    padding-bottom: 5%;
    padding-left: 5%;
    flex: 1;
}

.carousel a h2 {
    font-size: 1.8rem;
}

.carousel a h2,
.carousel a p {
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.arrow-btn {
    width: 5.5%;
    margin-bottom: 6%;
}

.carousel .arrow-btn:first-of-type {
    margin-left: 4%;
}

.carousel .arrow-btn:last-of-type {
    margin-left: 0.5%;
}

/* #endregion */

/* #region 首頁-熱門文章 */
#hot-article {
    position: relative;
    overflow: hidden;
    background-image: url(../images/index/greenfish\ \(2\).png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
    margin-top: -10%;
}

.sunny-l {
    position: absolute;
    left: -30px;
    bottom: 140px;
    width: 300px;
    transform: rotate(60deg);
}

.sunny-r {
    position: absolute;
    right: -130px;
    top: 150px;
    width: 300px;
    transform: rotate(-60deg);
}

#hot-article h1 {
    width: 20%;
    margin: 40px auto;
}

#hot-article .item:nth-child(-n+3) {
    border-bottom: 2px var(--black) solid;
}

#hot-article .item p {
    font-family: "Noto Sans TC";
    font-size: 0.9rem;
}

#hot-article .item div {
    display: flex;
    align-items: center;
    font-size: 0.8rem;
}

#hot-article .item div> :not(:first-child) {
    margin-left: 10px;
}

#hot-article .tag {
    display: inline-flex;
    font-family: "jf-openhuninn-2.0";
    padding: 1px 10px;

    background-color: var(--main-yellow);
    border-radius: 99px;
}

#hot-article .item .title {
    font-family: "jf-openhuninn-2.0";
    font-size: 1.35rem;
    letter-spacing: 0.1rem;
    margin: 10px 0;
}

#hot-article .content {
    display: flex;
    justify-content: space-between;
    margin: 5% 20%;
}

#hot-article .content ul {
    width: 43%;
    margin-left: 5%;
}

#hot-article .content ul li {
    margin: 5% 0;
}

#hot-article .map {
    background-color: #333;
    width: 45%;
    border-radius: 10px;
}

#hot-article .more {
    font-size: 1.1rem;
    padding: 4px 10px;
}

/* #endregion */

/* #region 最新資訊 */
#newinfo-nav .btn-container {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 33%;
    margin: 0 auto;
    margin-top: -1%;
}

#newinfo-nav .btn-container .btn {
    width: 30%
}

#current-events {
    position: relative;
    background-image: url(../images/news/yellow-bg.png);
    background-repeat: no-repeat;
    background-size: 100% 98%;
    background-position: bottom;
    font-family: "jf-openhuninn-2.0";
}

#current-events .swiper-btn {
    position: absolute;
    top: 45%;
    width: 5%;
}

#current-events .swiper-btn-pre {
    left: 2%;
}

#current-events .swiper-btn-next {
    right: 2%;
}

#current-events .list ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -4.5%;
    height: 65vh;
}

#current-events .list ul li {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    width: 15%;
    height: 33vh;

    background-position: center;
    background-size: cover;

    margin: 2%;
    padding: 15px 20px;

    border-radius: 30px;
}

#current-events .list ul li p,
#current-events .list ul li h2 {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: var(--white);
}

#current-events .list li {
    background-image: url(../images/news/fossil.jpg);
}

#current-events .list .exhibition li:nth-child(1) {
    background-image: url(../images/news/fossil.jpg);
}

#current-events .list .exhibition li:nth-child(2) {
    background-image: url(../images/news/winter.jpg);
}

#current-events .list .exhibition li:nth-child(3) {
    background-image: url(../images/news/lance-reis.jpg);
}

#current-events .list .exhibition li:nth-child(4) {
    background-image: url(../images/news/history.jpg);
}

#current-events .list .exhibition li:nth-child(5) {
    background-image: url(../images/news/old-computer.jpg);
}

#upcoming-events {
    position: relative;
    background-image: url(../images/news/green-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "jf-openhuninn-2.0";
}

#upcoming-events .swiper-btn {
    position: absolute;
    top: 48%;
    width: 5%;
}

#upcoming-events .swiper-btn-pre {
    left: 2%;
}

#upcoming-events .swiper-btn-next {
    right: 2%;
}

#upcoming-events .list ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2.5%;
    height: 90vh;
    overflow: hidden;
}

#upcoming-events .list ul li {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    width: 18%;
    height: 35vh;

    background-position: center;
    background-size: cover;

    margin: 2%;
    padding: 15px 20px;

    border-radius: 30px;
}

#upcoming-events .list ul li p,
#upcoming-events .list ul li h2 {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: var(--black);    
}

#upcoming-events .list li {
    background-image: url(../images/news/fossil.jpg);
}

#upcoming-events .news-winter{
    position: absolute;
    top: -9.5%;
    left: 26%;
    width: 6%;
}
/* #endregion */

/* #region Footer */
footer p {
    font-family: "jf-openhuninn-2.0";
    font-size: 1rem;
    letter-spacing: 0.1rem;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* #endregion */