@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* #region 共用區 */
.tag {
    display: inline-flex;
    padding: 1px 10px;

    background-color: var(--main-yellow);
    border-radius: 99px;
}

.en {
    font-family: "Poppins";
}

/* #endregion */

/* #region 首頁-網頁特色 */
#introduce {
    width: 100%;
    /* height: 100vh; */
    background-image: url(../images/index/map.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right top;

    overflow: hidden;
}

#introduce h2 {
    font-size: 1.2rem;
    line-height: 2rem;
}

.star {
    overflow: hidden;
    width: 4%;
    min-width: 50px;
}

.flower {
    width: 3%;
    min-width: 40px;
}

.corner {
    width: 4%;
    min-width: 70px;
}

.first-article,
.second-article,
.third-article {
    display: flex;
}

.first-article .content,
.second-article .content,
.third-article .content {
    width: 20%;
    min-width: 310px;
    border-radius: 15px;
    padding: 25px 35px;
}

/* 第一個介紹 */
.first-article {
    margin-top: 4%;
    padding-top: 3%;
}

.first-article .content {
    background-color: var(--main-green);
    margin-bottom: 5%;
}

.first-article .character {
    position: relative;
    width: 15%;
    min-width: 150px;
    margin-top: -5%;
}

.first-article .star:first-child {
    margin: -3% 15% 0 28%;
}

.first-article .star:last-child {
    margin-top: -5%;
    margin-left: -3%;
}

.first-article .flower {
    z-index: 5;
    margin-top: -1%;
    margin-right: -1.5%;
}

.first-article .corner {
    margin-top: 2%;
    margin-left: -0.5%;
}

/* 第二個介紹 */
.second-article {
    margin-top: -7%;
}

.second-article .content {
    background-color: var(--main-pink);
    margin-top: 5%;
    margin-left: 1%;
    color: var(--white);
}

.second-article .character {
    width: 10%;
    min-width: 90px;
    position: relative;
    margin: -7% 0 0 15%;
}

.second-article .flower {
    margin-top: 4%;
    margin-left: -2%;
}

.second-article .corner {
    margin-top: 5.5%;
    margin-right: -1.5%;
}

/* 第三個介紹 */
.third-article {
    margin-top: 2%;
}

.third-article .content {
    background-color: var(--main-yellow);
    margin-bottom: 8%;
}

.third-article .character {
    width: 9%;
    min-width: 70px;
    position: relative;
    margin: -7% 0 0 2%;
}

.third-article .flower {
    z-index: 5;
    margin-top: 5%;
    margin-right: -1%;
    margin-left: 38%;
}

.third-article .corner {
    margin-top: 2%;
    margin-left: -0.1%;
}

@media (max-width:1440px) {

    .first-article .content,
    .second-article .content,
    .third-article .content {
        width: 30%;
    }

    .first-article {
        justify-content: center;
    }

    .first-article .star:first-child {
        margin: -3% 10% 0 0;
    }

    .third-article {
        justify-content: center;
    }

    .third-article .flower {
        margin-top: 5%;
        margin-right: -1%;
        margin-left: 10%;
    }

}

@media (max-width:820px) {
    #introduce {
        background-image: url(../images/index/map-820.png);
        background-position: right bottom;
        background-size: cover;
    }

    #introduce h2 {
        font-size: 1.2rem;
        line-height: 2rem;
    }

    #introduce p {
        font-size: 0.9rem;
    }

    .first-article {
        padding: 0;
    }

    .first-article .star:first-child {
        margin: -3% 8% 0 5%;
    }

    .first-article .star:last-child {
        display: none;
    }

    .first-article .character {
        margin-top: 0;
    }

    .first-article .corner {
        margin-top: 6.5%;
        margin-left: -0.5%;
    }

    .second-article .character {
        margin: -8% 2% 0 12%;
    }

    .third-article .character {
        width: 11%;
    }
}

@media (max-width:767px) {
    .first-article .star:first-child {
        display: none;
    }

    .second-article .character {
        margin: 0 2% 0 12%;
    }

    .corner {
        display: none;
    }
}

@media (max-width:640px) {
    #introduce .content {
        min-width: 310px;
        margin: 5% 0;
    }

    .flower {
        display: none;
    }

    .first-article .character {
        min-width: 130px;
        margin-left: -5%;
    }

    .second-article h2,
    .second-article p {
        text-align: right;
    }

    .second-article {
        margin-top: 0;
        justify-content: center;
    }

    .second-article .character {
        margin: 5% -5% 0 0;
    }

    .third-article .character {
        margin: -2% 0 0 -5%;
    }
}

@media (max-width:391px) {
    .corner {
        display: none;
    }

    .first-article {
        justify-content: flex-start;
    }

    .first-article .character {
        margin-top: 2%;
        margin-left: -11%;
    }

    .second-article {
        justify-content: flex-end;
    }

    .second-article .character {
        margin-right: -7%;
    }

    .third-article {
        justify-content: flex-start;
    }

    .third-article .character {
        margin-left: -10%;
    }
}

/* #endregion */

/* #region 首頁-最新活動*/
#news {
    display: flex;
    width: 100%;
    background-image: url(../images/index/news-bg.png);
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: -100px;
    padding: 15% 0;
}

.whatnews {
    width: 25%;
    margin-left: 5%;
}

.carousel {
    display: flex;
    align-items: end;
    margin-left: 3.7%;
    padding-top: 3%;
    padding-bottom: 4.5%;
    flex: 0.81;
}

.carousel a {
    display: flex;
    flex-direction: column;
    justify-content: end;

    height: 100%;

    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(136, 136, 136, 0.2) 28%, rgba(96, 95, 95, 0.5) 60%, #383737 90%), url(../images/index/market.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    border-radius: 20px;
    border: var(--black) 2px solid;

    color: var(--white);
    padding-bottom: 5%;
    padding-left: 5%;

    flex: 1;
}

.carousel a h2 {
    font-size: 1.8rem;
}

.carousel a h2,
.carousel a p {
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.arrow-btn {
    width: 5.5%;
    margin-bottom: 6%;
}

.carousel .arrow-btn:first-of-type {
    margin-left: 4%;
}

.carousel .arrow-btn:last-of-type {
    margin-left: 0.5%;
}

.carousel-dots {
    display: none;
}

@media (max-width:820px) {
    #news {
        flex-direction: column;
        align-items: center;

        background-image: url(../images/index/cloud-bg.png);
        background-position: center;
        margin-top: 0;
    }

    .whatnews {
        width: 40%;
        margin: 0 auto;
        margin-top: -10%;
    }

    .carousel {
        background-image: url(../images/index/tv-bg-820.png);
        background-size: contain;
        background-position: top;
        background-repeat: no-repeat;

        flex-direction: column;
        align-items: center;
        width: 100%;
        margin: 0;
    }

    .carousel a {
        width: 72%;
        margin-top: 14%;
        margin-bottom: 2.5%;

        aspect-ratio: 3/2;
    }

    .carousel a h2 {
        font-size: 1.3rem;
    }

    .carousel .arrow-btn {
        display: none;
    }

    .carousel-dots {
        display: flex;
        gap: 50px;
        margin-bottom: 2%;
    }

    .dot {
        width: 25px;
        height: 25px;

        border: solid 5px var(--main-pink);
        border-radius: 50%;
    }
}

@media (max-width:431px) {
    .carousel a {
        width: 74%;
        border-radius: 10px;
    }

    .carousel a h2 {
        font-size: 1.1rem;
    }

    .dot {
        width: 20px;
        height: 20px;
        border-width: 3px;
    }
}

/* #endregion */

/* #region 首頁-熱門文章 */
#hot-article {
    display: flex;
    flex-direction: column;
    justify-content: center;

    position: relative;

    overflow: hidden;
    background-image: url(../images/index/greenfish.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    margin-top: -10%;
}

.sunny-l {
    position: absolute;
    left: -40px;
    bottom: 140px;
    width: 300px;
    transform: rotate(60deg);
}

.sunny-r {
    position: absolute;
    right: -140px;
    top: 150px;
    width: 300px;
    transform: rotate(-60deg);
}

#hot-article h2 {
    width: 20%;
    min-width: 200px;
    margin: 40px auto;
}

#hot-article .item:nth-child(-n+3) {
    border-bottom: 2px var(--black) solid;
}

#hot-article .item p {
    font-size: 0.9rem;
}

#hot-article .item div {
    display: flex;
    align-items: center;
    font-size: 0.8rem;
}

#hot-article .item .tag {
    margin-right: 10px;
}

#hot-article .item .title {
    font-size: 1.35rem;
    letter-spacing: 0.1rem;
    margin: 10px 0;
}

#hot-article .content {
    position: relative;
    z-index: 1;

    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 60%;
    min-width: 920px;
    max-width: 1200px;

    padding: 50px 40px;
    margin: 2% auto;
    border-radius: 20px;
    background-color: var(--white);
}

#hot-article .content ul {
    width: 43%;
}

#hot-article .content ul li {
    margin: 5% 0;
}

#hot-article .map {
    background-color: #333;
    width: 450px;
    height: 450px;
    border-radius: 10px;
}

#hot-article .more {
    font-size: 1.1rem;
    padding: 4px 10px;
}

#hot-article .time-tags {
    display: flex;
    gap: 10px;
}

@media (max-width:860px) {

    .sunny-l,
    .sunny-r {
        display: none;
    }

    #hot-article {
        background-image: url(../images/index/hot-bg-1050.png);
        background-size: contain;
        background-position: top;
    }

    #hot-article .content {
        min-width: 300px;
        flex-wrap: wrap;

        background-color: transparent;
        padding: 0;
    }

    #hot-article .content ul {
        width: 100%;
    }

    #hot-article .time-tags {
        display: flex;
        flex-wrap: wrap;
    }


    #hot-article .item .title {
        font-size: 1.2rem;
    }

    #hot-article .more {
        margin: 0 auto;
    }

    #hot-article .content ul li:last-child {
        display: flex;
        justify-content: center;
    }

    #hot-article .map {
        height: 300px;
    }
}

@media (max-width:431px) {
    #hot-article {
        background-image: url(../images/index/hot-bg-phone.png);
        background-size: contain;
        background-position: top;
    }
}

/* #endregion */

/* #region 最新資訊 */
#news-body {
    margin-top: 50px;
}

/* 最新消息-導覽列 */
#newinfo-nav .btn-container {
    position: relative;
    z-index: 3;

    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0 32%;
}

#newinfo-nav .btn-container .btn {
    width: 100%;
    margin: 0 2%;
}

#newinfo-nav a {
    min-width: 150px;
}

#newinfo-nav .current {
    min-width: 200px;
}

#newinfo-nav .cloud {
    min-width: 440px;
}

#newinfo-nav .cloud:first-child {
    margin-right: 5%;
}

#newinfo-nav .cloud:last-child {
    margin-left: 5%;
}

#newinfo-nav img {
    object-fit: cover;
    height: 100%;
}

/* 最新消息-背景角色 */
#news-body .characters {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    justify-content: center;
    gap: 50px;

    margin: 0 auto;
}

#news-body .characters figure img {
    object-fit: cover;
    width: 100%;
}

#news-body .characters .sunny:not(.showall) {
    min-width: 120px;
    padding-top: 170px;
}

#news-body .characters .rainy:not(.showall) {
    min-width: 120px;
    padding-top: 135px;
}

#news-body .characters .winter:not(.showall) {
    min-width: 100px;
    padding-top: 170px;
}

#news-body .characters .showall {
    padding-top: 60px;
    min-width: 120px;
}

#news-body .characters.popup {
    gap: 30px;
}

#news-body .characters.popup .showall {
    padding-top: 45px;
    padding-right: 35px;
    min-width: 120px;
}

#news-body .characters.market {
    gap: 40px;
}

#news-body .characters.market .showall {
    padding-top: 55px;
    padding-right: 70px;
}

@keyframes moveUpAndDown {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-15px);
    }

    100% {
        transform: translateY(0);
    }
}

@media (max-width:1280px) {
    #news-body .characters .showall {
        padding-top: 70px;
        min-width: 120px;
    }

    #news-body .characters.popup .showall {
        padding-top: 65px;
        min-width: 110px;
    }
}

@media (max-width:860px) {
    #news-body .characters .showall {
        padding-top: 90px;
        min-width: 120px;
    }

    #news-body .characters.popup {
        gap: 40px;
    }

    #news-body .characters.popup .showall {
        padding-top: 80px;
        padding-right: 0;
        min-width: 110px;
    }
}

@media (max-width:431px) {
    #news-body .characters {
        gap: 10px;
    }

    #news-body .characters .showall {
        min-width: 100px;
    }

    #news-body .characters.popup {
        gap: 10px;
    }

    #news-body .characters.popup {
        padding-bottom: 50px;
    }

    #news-body .characters .sunny:not(.showall) {
        min-width: 100px;
        padding-top: 170px;
    }

    #news-body .characters.popup .showall {
        padding-top: 90px;
        min-width: 100px;
    }
}

@media (max-width:391px) {
    #news-body .characters.popup {
        gap: 0;
    }
}

/* 現正舉行 */
#current-events {
    position: relative;
    z-index: 2;

    background-image: url(../images/news/upcome-bg-pc.png);
    background-repeat: no-repeat;
    background-size: 100% 90%;
    background-position: bottom;

    overflow: hidden;
}

#current-events .swiper-btn {
    position: absolute;
    top: 47%;
    width: 5%;
    min-width: 80px;
}

#current-events .swiper-btn-pre {
    left: 2%;
}

#current-events .swiper-btn-next {
    right: 2%;
}

#current-events .event-list {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}

#current-events .event-list li {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    width: 15%;
    min-width: 300px;
    aspect-ratio: 3/4;

    background-position: center;
    background-size: cover;

    margin: 2%;
    margin-bottom: 10%;
    padding: 15px 20px;

    border-radius: 30px;

    overflow: hidden;
}

#current-events .event-list li p,
#current-events .event-list li h2 {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: var(--white);
}

#current-events .event-list li:nth-child(1) {
    background-image: url(../images/news/fossil.jpg);
}

#current-events .event-list li:nth-child(2) {
    background-image: url(../images/news/winter.jpg);
}

#current-events .event-list li:nth-child(3) {
    background-image: url(../images/news/lance-reis.jpg);
}

#current-events .event-list li:nth-child(4) {
    background-image: url(../images/news/history.jpg);
}

#current-events .event-list li:nth-child(5) {
    background-image: url(../images/news/old-computer.jpg);
}

#news-body .character {
    position: relative;
    z-index: 10;
    margin-top: -50px;
    margin-bottom: -50px;
    left: 26%;
    width: 6%;
    min-width: 70px;
}

@media (max-width:820px) {
    #current-events .event-list li {
        margin-top: 5%;
        margin-bottom: 15%;
    }

    #current-events .swiper-btn {
        top: 50%;
    }

    #newinfo-nav .current {
        min-width: 180px;
    }
}

@media (max-width:640px) {
    #current-events .event-list li {
        min-width: 200px;
    }

    #newinfo-nav a {
        min-width: 120px;
    }

    #newinfo-nav .current {
        min-width: 150px;
    }
}

@media (max-width:420px) {
    #newinfo-nav a {
        min-width: 100px;
        margin-bottom: 0;
    }

    #current-events .swiper-btn {
        top: 52%;
    }

    #newinfo-nav .current {
        min-width: 115px;
    }
}

#upcoming-events {
    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;
    z-index: 1;

    background-color: var(--main-green);
    margin-top: 2%;

    overflow: hidden;
}

#upcoming-events .upcoming-title {
    width: 100%;
    display: flex;
    height: 25vh;
}

#upcoming-events .upcoming-title img {
    object-fit: cover;
    height: 100%;
}

#upcoming-events .swiper-btn {
    position: absolute;
    top: 55%;
    width: 5%;
    min-width: 80px;
}

#upcoming-events .swiper-btn-pre {
    left: 2%;
}

#upcoming-events .swiper-btn-next {
    right: 2%;
}

#upcoming-events ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    margin-top: 3%;
    margin-bottom: 8%;
    width: 90%;
    overflow: hidden;
}

#upcoming-events ul li img {
    object-fit: cover;
    height: 100%;
    transition: 0.3s ease-in-out;
}

#upcoming-events ul li figure {
    height: 300px;
}

#upcoming-events ul li {
    width: 21%;
    aspect-ratio: 1/1.1;

    min-width: 350px;
    flex-shrink: 0;
    margin: 0 15px;

    overflow: hidden;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    background-position: center;
    background-size: cover;
    background-color: var(--white);

    border-radius: 30px;

    transition: 0.3s ease-in-out;
}

#upcoming-events ul li:hover {
    background-color: var(--main-yellow);
}

#upcoming-events ul li:hover .tag {
    background-color: var(--white);
}

#upcoming-events .content {
    margin-top: 20px;
    margin-bottom: 30px;
    padding: 0 20px;
}

#upcoming-events .content * {
    margin-bottom: 3px;
}

#upcoming-events ul li p,
#upcoming-events ul li h2 {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: var(--black);
}

#upcoming-events .tag {
    margin-right: 10px;
}

#upcoming-events ul li h2 {
    font-size: 1.2rem;
}

@media (max-width:820px) {
    #upcoming-events .upcoming-title {
        height: 20vh;
    }

    #upcoming-events .swiper-btn {
        top: 60%;
    }

    #upcoming-events ul {
        width: 100%;
        margin-bottom: 10%;
    }

    #upcoming-events ul li {
        min-width: 300px;
    }

    #upcoming-events ul li figure {
        height: 200px;
    }
}

@media (max-width:430px) {
    #upcoming-events ul {
        margin-bottom: 12%;
    }

    #upcoming-events ul li {
        min-width: 250px;
    }

    #upcoming-events .content {
        margin-top: 10px;
        margin-bottom: 15px;
    }
}

/* #endregion */

/* #region 官方活動 */
#officialEvent-body {
    background-color: var(--black);
}

#officialEvent {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: -88px;
    color: var(--white);
    overflow: hidden;
}

#officialEvent-introduce article {
    position: relative;
    padding: 2%;
    margin-top: 25px;
    margin-left: 20%;
    width: 100%;
    min-width: 1000px;
}

#officialEvent-introduce article p {
    position: absolute;
    top: 2%;
    width: 50%;
    margin: 7%;
    text-align: center;
    letter-spacing: 0.1rem;
}

/* 活動步驟 */
#officialEvent-content {
    width: 50%;
    margin-top: -20%;
}

#officialEvent-content .title {
    width: 40%;
    margin: 0 auto 20px auto;
}

.steps ul {
    display: flex;
    flex-direction: column;
}

.steps ul li {
    display: flex;
    align-items: end;
}

.steps ul li:first-child {
    margin-bottom: 10%;
}

.steps ul li .content {
    margin-left: 10%;
}

.steps ul li figure,
.steps ul li .content {
    flex: 1;
}

.steps ul li .content h2 {
    margin-bottom: 10px;
}

.steps figure img {
    border-radius: 10px;
    border: 2px solid var(--event-red);
}

/* 活動步驟-列表線條 */
.steps figure {
    position: relative;
}

.steps figure::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 111.6%;
    height: 140%;
    border-right: 2px solid var(--event-red);
}

.steps ul li:last-child figure::before {
    display: none;
}

.steps figure::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 110%;
    width: 15px;
    height: 15px;
    background-color: var(--event-red);
    border-radius: 50%;
}

/* 活動指定目標 */
#officialEvent-target {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 12%;
}

#officialEvent-target p {
    line-height: 2rem;
}

#officialEvent-target ul {
    margin: 10px auto 0 auto;
}

#officialEvent-target ul li {
    display: flex;
    align-items: center;
    justify-content: center;
}

#officialEvent-target ul li img {
    width: 5%;
    margin: 0 5px;
}

/* 加入活動 */
#officialEvent-join {
    position: relative;
    z-index: 1;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 150vh;

    background-image: url(../images/official/bowl.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    margin: 7%;
}

#officialEvent-join .content {
    width: 40%;
}

#officialEvent-join .content h2 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
}

#officialEvent-join .content p {
    line-height: 2rem;
    margin-bottom: 60px;
}

#officialEvent-join .content .video {
    width: 100%;
    height: 405px;
    background-color: aliceblue;
}

/* 左右兩側招牌裝飾 */
.shop-sign-left {
    position: absolute;
    top: 360px;
    width: 400px;
    height: 1000px;
    background-image: url(../images/official/shop-sign-left.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.shop-sign-right {
    position: absolute;
    top: 360px;
    right: 0;
    width: 400px;
    height: 1000px;
    background-image: url(../images/official/shop-sign-right.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
}

/* #endregion */

/* #region 地圖頁面 */
#map {
    width: 100%;
    height: 100vh;
    margin-top: -88px;
}

/* #endregion */