@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* #region 重置所有樣式 */
/* 重置所有標籤的樣式 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 重置字體 */
body {
    font-family:
        /*西文*/
        -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial,
        /*中文*/
        "蘋方-繁", "PingFang TC", "黑體-繁", "Heiti TC", "微軟正黑體", "Microsoft JhengHei", "Noto Sans TC", sans-serif;
    font-size: 100%;
    line-height: 1.5;
}

/* 重置標題 */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

/* 重置列表 */
ul,
ol {
    list-style: none;
}

/* 重置圖片 */
img {
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
}

/* 重置連接 */
a {
    display: block;
    /* 將預設inline改為block */
    text-decoration: none;
    color: #444;
}

/* #endregion */

/* #region 全域設定 */
@font-face {
    font-family: GenSenRounded2-M;
    src: url(../fonts/GenSenRounded2-M.ttc);
}

:root {
    /* 背景基礎色 */
    --base-backgroundColor: rgb(255, 247, 205);
    --main-yellow: rgb(255, 226, 74);
    --hover-yellow: rgb(237, 199, 0);
    --main-green: rgb(125, 229, 175);
    --main-pink: rgb(245, 105, 90);
    --black: rgb(0, 0, 0);
    --black-alpha-25: rgba(0, 0, 0, 0.25);
    --white: rgb(255, 253, 243);

    --basic1-shadow:-2px 2px 6px -2px var(--black-alpha-25);
}

body {
    padding-top: 88px;
    background-color: var(--base-backgroundColor);
    font-family: GenSenRounded2-M;
}

/* #endregion */

/* #region 共用區 */
.tag {
    display: inline-flex;
    padding: 1px 10px;

    background-color: var(--main-yellow);
    border-radius: 99px;
}

/* #endregion */

/* #region 導覽列 */
#navbar {
    position: fixed;
    /* 固定導航列的位置，使其懸浮 */
    top: 0;
    width: 100%;
    height: 88px;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 100%;
    margin-left: 20px;
    padding: 20px 0;
}

.logo a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    gap: 15px;
}

.logo a figure {
    height: 100%;
}

.logo a img {
    object-fit: cover;
    height: 100%;
}

.logo a p {
    font-family: "Poppins";
    font-size: 0.9rem;
    font-weight: 500;
    letter-spacing: 0.1rem;
}

.navigation .nav-list {
    display: flex;
    align-items: center;
    gap: 20px;

    padding: 5px 20px;
}

/* todo:隨滾輪增加 width */
.navigation .nav-list:after {
    content: "";
    position: absolute;
    top: 10px;
    right: 0;
    width: 0;
    height: 78%;
    background-color: var(--main-yellow);
    box-shadow: var(--basic1-shadow);
    border-radius: 99px 0 0 99px;
    transition: width 0.5s ease;
    z-index: -1;
}

.navigation .nav-list li {
    font-size: 1rem;
    letter-spacing: 0.1rem;
    margin: 0 5px;
}

.navigation .menu a {
    line-height: 1;
    border-bottom: solid 1px transparent;
    color: var(--black);
}

.navigation .menu>a:hover {
    border-bottom: solid 1px #333;
    transition: .35s ease-in-out;
}

.navigation .menu>ul {
    display: none;
    position: absolute;
    z-index: 999;
    right: 350px;
    top: 60%;
}

.navigation .menu:hover>ul {
    display: flex;
}

.dropdown-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--main-yellow);
    border-radius: 10px;
    padding: 10px 20px;
}

.dropdown-menu li {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 99px;
    padding: 1px 10px;
}

.dropdown-menu li:hover {
    background-color: var(--hover-yellow);
}

.dropdown-menu hr {
    width: 50%;
    border: 0.5px solid var(--black);

    margin: 10px 0;
}

label[for="member-modal-switch"] input {
    display: none;
}

label[for="member-modal-switch"] {
    cursor: pointer;
}

/* #endregion */

/* #region 會員登入註冊*/
#member-modal {
    position: absolute;
    right: 0;
    top: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    background-color: var(--main-yellow);
    border-radius: 20px;
    box-shadow: var(--basic1-shadow);
}

#member-modal .radio-container {
    display: flex;
    justify-content: space-between;

    width: 50%;
    background-color: var(--white);

    border-radius: 99px;

    margin-top: 20px;
    margin-bottom: 10px;

}

.radio-container input[type="radio"] {
    display: none;
}

.radio-container input[type="radio"]+label {
    border-radius: 99px;
    padding: 7px 13px;
    border: 2px solid transparent;
    cursor: pointer;
}

.radio-container input[type="radio"]:checked+label {
    background-color: var(--hover-yellow);
    border: 2px solid var(--black);
}

#member-modal form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 20px;
}

#member-modal form label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}

#member-modal form label input[type="text"] {
    background-color: var(--white);
    border-radius: 99px;
    flex: auto;
    height: 30px;
    border: none;
}

#member-modal form label span {
    margin-right: 10px;
}

.action-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    margin: 10px 0;
}

.action-container input[type="checkbox"] {
    margin-right: 3px;
}

.action-container span,
.action-container a {
    font-size: 0.75rem;
    color: var(--black);
}

label[for="keep-login"] {
    border-right: 1.75px solid var(--white);
}

#member-modal input[type="button"] {
    display: flex;
    justify-content: center;

    background-color: var(--white);
    border: none;
    width: 40%;
    border-radius: 99px;

    font-size: 1.25rem;
    font-weight: bold;

    padding: 5px 0;
    margin-bottom: 15px;

    cursor: pointer;
}

.sns-login {
    display: flex;
    justify-content: space-between;
    width: 100%;

    padding: 10px;
    margin-bottom: 10px;
    border-top: var(--white) 2px solid;
}

.sns-login a {
    background-color: var(--white);
    border-radius: 50%;
}

/* #endregion */

/* #region 首頁-網頁特色 */
#introduce {
    width: 100%;
    height: 1050px;
    background-image: url(../images/index/map.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center 10px;
}

#introduce h2 {
    font-size: 1.2rem;
    line-height: 2rem;
}

.star {
    width: 4%;
}

.flower {
    width: 3%;
}

.corner {
    width: 4%;
}

.first-article,
.second-article,
.third-article {
    display: flex;
}

/* 第一個介紹 */
.first-article {
    margin-top: 4%;
    padding-top: 3%;
}

.first-article .content {
    background-color: var(--main-green);
    border-radius: 30px;
    width: 20%;
    padding: 1% 2%;
    margin-bottom: 5%;
}

.first-article .character {
    width: 15%;
    /* position: relative; */
    margin-top: -5%;
}

.first-article .star:first-child {
    margin: -3% 15% 0 28%;
}

.first-article .star:last-child {
    margin-top: -5%;
    margin-left: -3%;
}

.first-article .flower {
    z-index: 999;
    margin-top: -1%;
    margin-right: -1.5%;
}

.first-article .corner {
    margin-top: 2%;
    margin-right: -1.5%;
}

/* 第二個介紹 */
.second-article {
    margin-top: -7%;
}

.second-article .content {
    background-color: var(--main-pink);
    border-radius: 30px;
    width: 20%;
    padding: 1% 2%;
    margin-top: 5%;
    margin-left: 1%;
    color: var(--white);
}

.second-article .character {
    width: 10%;
    position: relative;
    margin: -7% 0 0 15%;
}

.second-article .flower {
    margin-top: 4%;
    margin-left: -2%;
}

.second-article .corner {
    margin-top: 5.5%;
    margin-right: -1%;
}

/* 第三個介紹 */
.third-article {
    margin-top: 2%;
}

.third-article .content {
    background-color: var(--main-yellow);
    border-radius: 30px;
    width: 20%;
    padding: 1% 2%;
    margin-bottom: 8%;
}

.third-article .character {
    width: 9%;
    position: relative;
    margin: -7% 0 0 2%;
}

.third-article .flower {
    z-index: 999;
    margin-top: 5%;
    margin-right: -1%;
    margin-left: 38%;
}

.third-article .corner {
    margin-top: 2%;
    margin-left: -0.1%;
}

/* 第三個介紹 */

/* #endregion */

/* #region 首頁-最新活動*/
#news {
    display: flex;
    width: 100%;
    background-image: url(../images/index/news-bg.png);
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: -24%;
    padding: 15% 0;
}

.whatnews {
    width: 25%;
    margin-left: 5%;
}

.carousel {
    display: flex;
    align-items: end;
    margin-left: 3.8%;
    padding-top: 3%;
    padding-bottom: 4.5%;
    flex: 0.81;
}

.carousel a {
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: 100%;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(136, 136, 136, 0.2) 28%, rgba(96, 95, 95, 0.5) 60%, #383737 90%), url(../images/index/market.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    border: var(--black) 2px solid;
    color: var(--white);
    padding-bottom: 5%;
    padding-left: 5%;
    flex: 1;
}

.carousel a h2 {
    font-size: 1.8rem;
}

.carousel a h2,
.carousel a p {
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.arrow-btn {
    width: 5.5%;
    margin-bottom: 6%;
}

.carousel .arrow-btn:first-of-type {
    margin-left: 4%;
}

.carousel .arrow-btn:last-of-type {
    margin-left: 0.5%;
}

/* #endregion */

/* #region 首頁-熱門文章 */
#hot-article {
    position: relative;
    overflow: hidden;
    background-image: url(../images/index/greenfish\ \(2\).png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
    margin-top: -10%;
}

.sunny-l {
    position: absolute;
    left: -30px;
    bottom: 140px;
    width: 300px;
    transform: rotate(60deg);
}

.sunny-r {
    position: absolute;
    right: -130px;
    top: 150px;
    width: 300px;
    transform: rotate(-60deg);
}

#hot-article h1 {
    width: 20%;
    margin: 40px auto;
}

#hot-article .item:nth-child(-n+3) {
    border-bottom: 2px var(--black) solid;
}

#hot-article .item p {
    font-size: 0.9rem;
}

#hot-article .item div {
    display: flex;
    align-items: center;
    font-size: 0.8rem;
}

#hot-article .item div> :not(:first-child) {
    margin-left: 10px;
}

#hot-article .item .title {
    font-size: 1.35rem;
    letter-spacing: 0.1rem;
    margin: 10px 0;
}

#hot-article .content {
    display: flex;
    justify-content: space-between;
    margin: 5% 20%;
}

#hot-article .content ul {
    width: 43%;
    margin-left: 5%;
}

#hot-article .content ul li {
    margin: 5% 0;
}

#hot-article .map {
    background-color: #333;
    width: 45%;
    border-radius: 10px;
}

#hot-article .more {
    font-size: 1.1rem;
    padding: 4px 10px;
}

/* #endregion */

/* #region 最新資訊 */
#newinfo-nav .btn-container {
    position: relative;
    z-index: 3;

    display: flex;
    align-items: end;
    justify-content: center;

    height: 30vh;

    margin: 0 32%;
    margin-top: -3%;
}

#newinfo-nav .btn-container .btn {
    width: 100%;
    margin: 0 2%;
}

#newinfo-nav a img {
    object-fit: cover;
    height: 100%;
}

#current-events {
    position: relative;

    background-image: url(../images/news/yellow-bg.png);
    background-repeat: no-repeat;
    background-size: 100% 98%;
    background-position: bottom;

    margin-top: -6%;

    z-index: 2;
}

#current-events .swiper-btn {
    position: absolute;
    top: 45%;
    width: 5%;
}

#current-events .swiper-btn-pre {
    left: 2%;
}

#current-events .swiper-btn-next {
    right: 2%;
}

#current-events ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -4.5%;
    height: 65vh;
}

#current-events ul li {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    width: 15%;
    height: 33vh;

    background-position: center;
    background-size: cover;

    margin: 2%;
    padding: 15px 20px;

    border-radius: 30px;
}

#current-events ul li p,
#current-events ul li h2 {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: var(--white);
}

#current-events ul li:nth-child(1) {
    background-image: url(../images/news/fossil.jpg);
}

#current-events ul li:nth-child(2) {
    background-image: url(../images/news/winter.jpg);
}

#current-events ul li:nth-child(3) {
    background-image: url(../images/news/lance-reis.jpg);
}

#current-events ul li:nth-child(4) {
    background-image: url(../images/news/history.jpg);
}

#current-events ul li:nth-child(5) {
    background-image: url(../images/news/old-computer.jpg);
}

#current-events .character {
    position: absolute;
    bottom: -25%;
    left: 26%;
    width: 6%;
}

#upcoming-events {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background-color: var(--main-green);
    overflow: hidden;

    margin-top: 2%;
}

#upcoming-events .upcoming-title {
    width: 100%;
    display: flex;
    height: 25vh;
}

#upcoming-events .upcoming-title img {
    object-fit: cover;
    height: 100%;
}

#upcoming-events .swiper-btn {
    position: absolute;
    top: 48%;
    width: 5%;
}

#upcoming-events .swiper-btn-pre {
    left: 2%;
}

#upcoming-events .swiper-btn-next {
    right: 2%;
}

#upcoming-events ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    margin: 0 -20px;
    margin-bottom: 8%;
    width: 90%;
    height: 45vh;
    overflow: hidden;
}

#upcoming-events ul li img {
    object-fit: cover;
    height: 100%;
    filter: brightness(40%);
    transition: 0.3s ease-in-out;
}

#upcoming-events ul li:hover img {
    filter: brightness(100%);
}

#upcoming-events ul li figure {
    height: 30vh;
}

#upcoming-events ul li {
    width: 21%;
    flex-shrink: 0;
    margin: 0 15px;

    overflow: hidden;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    background-position: center;
    background-size: cover;
    background-color: var(--white);

    border-radius: 30px;

    transition: 0.3s ease-in-out;
}

#upcoming-events ul li:hover {
    background-color: var(--main-yellow);
}

#upcoming-events ul li:hover .tag {
    background-color: var(--white);
}

#upcoming-events .content {
    margin-top: 20px;
    margin-bottom: 30px;
    padding: 0 20px;
}

#upcoming-events .content * {
    margin-bottom: 3px;
}

#upcoming-events ul li p,
#upcoming-events ul li h2 {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: var(--black);
}

#upcoming-events .tag {
    margin-right: 10px;
}

#upcoming-events ul li h2 {
    font-size: 1.2rem;
}

/* #endregion */

/* #region Footer */
footer p {
    font-size: 1rem;
    letter-spacing: 0.1rem;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* #endregion */